.statsTable {
  background-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgb(128, 128, 128);
  border-collapse: separate;
  border-left-color: rgb(128, 128, 128);
  border-right-color: rgb(128, 128, 128);
  border-top-color: rgb(128, 128, 128);
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: table;
  empty-cells: show;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  table-layout: auto;
  width: 938px;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
}